.footer .container{
    width: 100%;
    height: 225px;
    background-color: #68bee8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prev-pg-btn{
    margin-right: 10px;
}

.nav-btn{
    margin-bottom: 10px;
}